<div class="flex flex-col items-center justify-center my-25 sm:my-18">
  <%= image_tag "top.png" %>
  <div class="flex items-center justify-center space-x-5">
    <% if user_signed_in? %>
      <%= link_to "投稿する", new_post_path, class: "top-brown-button cursor-pointer" %>
      <%= link_to "マイページ", user_path(current_user), class: "top-brown-button cursor-pointer" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "top-brown-button cursor-pointer" %>
      <%= link_to "新規登録", new_user_registration_path, class: "top-brown-button cursor-pointer" %>
    <% end %>
  </div>
</div>

<div class="mb-8 flex flex-col items-center justify-center animate-bounce">
  <span class="text-yellow-900">Scroll</span>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 text-yellow-900">
  <path fill-rule="evenodd" d="M11.47 13.28a.75.75 0 0 0 1.06 0l7.5-7.5a.75.75 0 0 0-1.06-1.06L12 11.69 5.03 4.72a.75.75 0 0 0-1.06 1.06l7.5 7.5Z" clip-rule="evenodd" />
  <path fill-rule="evenodd" d="M11.47 19.28a.75.75 0 0 0 1.06 0l7.5-7.5a.75.75 0 1 0-1.06-1.06L12 17.69l-6.97-6.97a.75.75 0 0 0-1.06 1.06l7.5 7.5Z" clip-rule="evenodd" />
  </svg>
</div>

<div class="box fadeIn">
  <div class="overflow-hidden">
    <div class="slider">
      <% @posts.each do |post| %>
        <% if post.image.attached? %>
          <div><%= image_tag(post.image.variant(resize_to_fill: [420, 420]), class:"rounded-xl") %></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="text-center text-xs sm:text-base text-yellow-900">
    <ul>
      <li><span class="text-lg font-bold">SweetsLog</span> は</li>
      <li>美味しいスイーツを食べた幸せな記憶を</li>
      <li>記録、シェアできるアプリです。</li>
    </ul>
  </div>
</div>

<div class="box fadeIn">
  <div class="mx-auto max-w-[90%]">
    <div class="mb-12 justify-items-center grid grid-cols-1 gap-2 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      <div class="w-75 h-75 p-10 bg-white shadow-sm rounded-xl">
        <div class= "flex flex-wrap justify-center">
          <%= image_tag "top_posts_icon.png" %>
          <div class="pt-4 text-center text-yellow-900">
            <ul>
              <li>美味しいスイーツを食べた</li>
              <li>幸せな気持ちを写真や</li>
              <li>店舗名と共に投稿。</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="w-75 h-75 p-10 bg-white shadow-sm rounded-xl">
        <div class= "flex flex-wrap justify-center">
          <%= image_tag "top_likes_icon.png" %>
          <div class="pt-4 text-center text-yellow-900">
            <ul>
              <li>みんなの投稿を見て、</li>
              <li>食べてみたいスイーツを</li>
              <li>お気に入り登録。</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="w-75 h-75 p-10 bg-white shadow-sm rounded-xl">
        <div class= "flex flex-wrap justify-center">
          <%= image_tag "top_search_icon.png" %>
          <div class="text-center text-yellow-900 mt-4">
            <ul>
              <li>都道府県・メニュー名・</li>
              <li>キーワード等の項目で</li>
              <li>投稿を検索できます。</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="w-75 h-75 p-10 bg-white shadow-sm rounded-xl">
        <div class= "flex flex-wrap justify-center">
          <%= image_tag "top_diagnoses_icon.png" %>
          <div class="pt-4 text-center text-yellow-900">
            <ul>
              <li>何を食べるか迷ったときは、</li>
              <li>スイーツ診断。</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[90%] md:w-90 mx-auto mb-12 text-center text-base">
      <%= link_to "みんなの投稿を見る", posts_path, class: "block px-5 py-2.5 bg-yellow-900 rounded-xl hover:bg-yellow-700 text-white cursor-pointer" %>
      <% unless user_signed_in? %>
        <%= link_to "会員登録をして使ってみる", new_user_registration_path, class: "mt-4 block px-5 py-2.5 bg-yellow-900 rounded-xl hover:bg-yellow-700 text-white cursor-pointer" %>
      <% end %>
   </div>
  </div>
</div>