<div class="w-[90%] md:w-150 my-8 container mx-auto px-2 pt-10 pb-6 bg-white shadow-sm shadow-2xs rounded-xl">
  <div class= "mt-4 mb-6 font-bold text-center text-2xl text-yellow-900">
    ユーザー登録
  </div>
  <div class="flex items-center justify-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="flex flex-col">
        <%= f.label :name, class: "text-yellow-950 font-bold" %>
        <%= f.text_field :name, class: "w-65 md:w-96 p-1.5 bg-stone-50 border border-stone-950 rounded-md", autofocus: true, placeholder:"ユーザーネーム" %>
      </div>
      <div class="flex flex-col mt-6">
        <%= f.label :email, class: "text-yellow-950 font-bold" %>
        <%= f.email_field :email, class: "w-65 md:w-96 p-1.5 bg-stone-50 border border-stone-950 rounded-md", placeholder:"メールアドレス" %>
      </div>

      <div class="flex flex-col mt-6">
        <%= f.label :password, class: "text-yellow-950 font-bold" %>
        <%= f.password_field :password, id: "password", class: "w-65 md:w-96 p-1.5 bg-stone-50 border border-stone-950 rounded-md", placeholder:"パスワード（6文字以上）" %>
      </div>
      <div class="mt-1">
        <input type="checkbox" class="form-check-input" id="toggle-password">
        <label for="toggle-password">パスワードを表示</label>
      </div>

      <div class="flex flex-col mt-6">
        <%= f.label :password_confirmation, class: "text-yellow-950 font-bold" %>
        <%= f.password_field :password_confirmation, id: "password_confirmation", class: "w-65 md:w-96 p-1.5 bg-stone-50 border border-stone-950 rounded-md", placeholder:"もう一度入力してください" %>
      </div>
      <div class="mt-1">
        <input type="checkbox" class="form-check-input" id="toggle-password_confirmation">
        <label for="toggle-password">パスワードを表示</label>
      </div>

      <div class="mt-6 actions flex justify-center">
        <%= f.submit (t "device.registrations.new.sign_in"), class: "w-44 rounded-md bg-yellow-900 p-3 text-white focus:outline-none cursor-pointer" %>
      </div>
    <% end %>
  </div>

  <div class="mx-auto flex items-center my-4 w-[90%]">
    <div class="flex-grow border-t border-yellow-900"></div>
    <span class="mx-4 text-yellow-900">または</span>
    <div class="flex-grow border-t border-yellow-900"></div>
  </div>

  <%= render "devise/shared/links" %>
</div>
