<div class="container mx-auto px-6 py-15 my-15 bg-white shadow-sm shadow-2xs rounded-xl max-w-screen-sm">
  <div class="justify-items-center">
    <%= form_with model: @user do |f| %>
      <div class="mb-6">
        <%= f.label :name, class: "block text-yellow-950 font-bold" %>
        <%= f.text_field :name, class: "w-96 py-2 px-2 bg-stone-50 border border-yellow-950 rounded-md" %>
      </div>
      <div class="mt-5">
        <%= f.label "プロフィール画像", class: "block text-yellow-950 font-bold" %>
        <%= f.file_field :image, accept: ".jpeg, .gif, .png, .jpg", class: "w-96 py-2 px-2 appearance-none bg-stone-50 border border-yellow-950 rounded w-full text-gray-500 cursor-pointer" %>
      </div>

      <div class="mt-7 flex justify-center">
         <%= f.submit "更新する", class: "mt-4 w-44 rounded-md bg-yellow-900 p-3 text-white focus:outline-none cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>