<div class= "mt-15 mb-10 font-bold text-center text-3xl text-yellow-900">
  <%= @user.name %>の投稿
</div>
<div class='flex justify-center mb-6'>
<%= month_calendar(events: @calendar_posts, attribute: :created_at, class: "w-full table-fixed border border-gray-800 text-sm") do |date, posts| %>
  <div class="w-15 h-15 p-1 bg-white border border-yellow-800">
    <div class="flex flex-col space-y-1">
      <div class="text-sm text-yellow-900 text-center"><%= date.day %></div>
      <% posts_for_date = posts.select { |post| post.created_at.to_date == date } %>
        <% if posts_for_date.any? %>
          <div class="text-sm text-center">
            <%= link_to "#{posts_for_date.count}件", my_posts_user_path(current_user, date: date),class:"font-bold text-yellow-900 hover:text-yellow-600" %>
          </div>
        <% end %>
    </div>
  </div>
<% end %>
</div>
<%= render "posts/search_form", q: @q, url: my_posts_user_path(current_user) %>
<% if @posts.present? %>
  <div class="mt-15 max-w-screen-xl mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-7 justify-items-center">
      <%= render @posts %>
    </div>
    <nav class="mt-10">
      <%= pagy_nav(@pagy).html_safe %>
    </nav>
  </div>
<% else %>
  <div class="mb-3 text-center">掲示板がありません</div>
<% end %>