<div class= "my-10 font-bold text-center text-2xl text-yellow-900">
  <%= @user.name %>の投稿
</div>

<%= render "posts/search_form", q: @q, url: my_posts_user_path(current_user) %>

<div class="m-4 flex justify-center">
  <button id="toggle-calendar" class="font-semibold text-yellow-900 hover:text-yellow-600 cursor-pointer">
    カレンダーを表示（日別の投稿件数を確認できます）
  </button>
</div>
<div id="calendar-container" style="display: none;">
  <div class='flex justify-center mb-6'>
    <%= month_calendar(events: @calendar_posts, attribute: :created_at, class: "w-full table-fixed text-yellow-900 text-sm") do |date, posts| %>
      <div class="text-sm text-yellow-950 text-center">
        <%= date.day %>
      </div>
      <% posts_for_date = posts.select { |post| post.created_at.to_date == date } %>
      <% if posts_for_date.any? %>
        <div class="text-sm text-center">
          <%= link_to "#{posts_for_date.count}件", my_posts_user_path(current_user, date: date),class:"font-bold text-yellow-900 hover:text-yellow-600" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if @posts.present? %>
  <div class="max-w-275 mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 justify-items-center">
      <%= render @posts %>
    </div>
    <nav class="mt-10">
      <%= pagy_nav(@pagy).html_safe %>
    </nav>
  </div>
<% else %>
  <div class="my-20 md:my-44 text-center">掲示板がありません</div>
<% end %>