<%= render "shared/flash_messages" %>
<div class="container mx-auto px-6 py-15 my-15 bg-white shadow-sm shadow-2xs rounded-xl max-w-screen-sm">
  <div class="justify-items-center">
    <div class="flex">
      <% if @user.image.attached? %>
        <%= image_tag url_for(@user.image.variant(resize_to_fill: [50, 50])), class: "rounded-full transition duration-200 group-hover:scale-105" %>
      <% else %>
        <%= image_tag "プロフィールマーク.png", class:"rounded-full transition duration-300 group-hover:scale-105", width:50 %>
      <% end %>
      <div class="my-auto ml-5 text-base font-bold text-yellow-900">
        <%= @user.name %>
      </div>
    </div>
    <div class="mt-5">
      投稿数 : <%= @user.posts.count %> 件
    </div>
  </div>
</div>

<% if @user == current_user %>
  <div class="mb-50 flex justify-center">
    <%= link_to "編集する", edit_user_path(current_user), class: "w-40 rounded-md bg-yellow-900 p-3 text-center text-white focus:outline-none cursor-pointer" %>
  </div>
<% else %>
  <div class="mb-18">
    <%= render "post" %>
  </div>
<% end %>