<header>
  <nav class="p-3 flex flex-wrap items-center justify-between bg-yellow-50">
    <div class="flex items-center justify-center ml-6">
      <%= link_to posts_path do %>
        <%= image_tag "header_logo.png", width: 250 %>
      <% end %>
    </div>
    <ul class="flex mr-4 text-yellow-50 text-sm">
      <%= link_to '投稿する', new_post_path, class: "brown-button" %>
      <%= link_to '投稿一覧', posts_path, class: "brown-button" %>
      <%= link_to 'お気に入り', likes_posts_path, class: "brown-button" %>
      <%= link_to 'スイーツ診断', new_diagnose_path, class: "brown-button" %>
      <%= link_to 'マイページ', user_path(current_user.id), class: "brown-button" %>
      <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "brown-button" %>
    </ul>
  </nav>
  <div class="flex justify-center">
    <div class="mx-4 border border-dashed border-yellow-700 w-[97%]"></div>
  </div>
</header>