<header>
  <nav class="flex items-center justify-between flex-wrap bg-yellow-50 p-3">
    <div class="flex items-center justify-center">
      <%= image_tag 'SweetsLogロゴ（横並び）', width: 250 %>
    </div>
    <ul class="flex mr-4">
      <%= link_to 'HOME', '#', class: "mr-4 text-yellow-50 bg-yellow-900 rounded-lg px-5 py-2.5" %>
      <%= link_to 'POSTS', '#', class: "mr-4 text-yellow-50 bg-yellow-900 rounded-lg px-5 py-2.5" %>
      <%= link_to 'NEWPOST', '#', class: "mr-4 text-yellow-50 bg-yellow-900 rounded-lg px-5 py-2.5" %>
      <%= link_to 'MY PAGE', '#', class: "mr-4 text-yellow-50 bg-yellow-900 rounded-lg px-5 py-2.5" %>
      <%= button_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "mr-4 text-yellow-50 bg-yellow-900 rounded-lg px-5 py-2.5" %>
    </ul>
  </nav>
  <div class="flex items-center justify-center">
    <div class="border-b border-yellow-950 w-370"></div>
  </div>
</header>