<div class= "mt-12 font-bold text-center text-2xl text-yellow-900">
  ログイン
</div>
  
<div class="w-[90%] md:w-150 mt-6 container mx-auto px-2 pt-10 pb-6 bg-white shadow-sm shadow-2xs rounded-xl">
  <div class="flex items-center justify-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% if alert.present? %>
        <p class="my-6 px-2 py-2 rounded-md text-rose-950 bg-rose-200 border-2 border-rose-900">
          <%= alert %>
        </p>
      <% end %>

      <div class="flex flex-col">
        <%= f.label :email, class: "text-yellow-950 font-bold" %>
        <%= f.email_field :email, class: "w-65 md:w-96 p-2 bg-stone-50 border border-stone-950 rounded-md", autofocus: true, placeholder:"メールアドレス" %>
      </div>

      <div class="flex flex-col mt-6">
        <%= f.label :password, class: "text-yellow-950 font-bold" %>
        <%= f.password_field :password, class: "w-65 md:w-96 p-2 bg-stone-50 border border-stone-950 rounded-md", placeholder:"パスワード" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mt-6">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions mt-6 flex justify-center">
        <%= f.submit (t "device.sessions.new.log_in"), class: "w-44 rounded-md bg-yellow-900 p-3 text-white focus:outline-none cursor-pointer" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
