<div class="w-[90%] md:max-w-screen-lg container mx-auto px-1 py-13 my-8 bg-white shadow-sm rounded-xl">
  <div class="mx-13">
    <%= render "shared/object_error_messages", object: @post %>
  </div>
  <%= form_with model: @post do |f| %>
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 justify-items-center">
      <div class="justify-items-center">
        <% if @post.image.persisted? %>
          <%= image_tag(@post.image.variant(resize_to_fill: [360, 360]), class:"rounded-xl") %>
        <% else %>
          <div class="container w-65 h-65 sm:h-95 sm:w-95 mx-auto flex items-center justify-center rounded-xl bg-gray-300">
            <p>ここに画像が入ります</p>
          </div>
        <% end %>
        <div class="my-5 flex flex-col">
          <%= f.label :image, class: "text-yellow-950 font-bold" %>
          <%= f.file_field :image, accept: ".jpeg, .gif, .png, .jpg", class: "w-65 sm:w-100 py-2 px-2 appearance-none bg-stone-50 border border-yellow-950 rounded text-gray-500 cursor-pointer" %>
        </div>

        <div class="w-full">
          <%= f.label :category_ids, "カテゴリー", class: "text-yellow-950 font-bold" %>
          <div class="grid grid-cols-2 gap-x-4 ml-2">
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
              <div class="form-check flex items-center">
                <%= b.check_box(class: "form-check-input mr-2") %>
                <%= b.label(class: "form-check-label") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-span-1 justify-items-center">
        <div class= "mb-5 flex flex-col">
          <div class= "flex font-bold">
            <%= f.label :title, class: "text-yellow-950" %>
            <span class="text-red-600">*</span>
          </div>
          <%= f.text_field :title, class: "w-65 sm:w-100 py-2 px-2 bg-stone-50 border border-yellow-950 rounded-md" %>
        </div>

        <div class="mb-5 flex flex-col">
          <div class= "flex font-bold">
            <%= f.label :body, class: "text-yellow-950" %>
            <span class="text-red-600">*</span>
          </div>
          <%= f.text_area :body, class: "w-65 sm:w-100 bg-stone-50 px-2 border border-yellow-950 rounded-md", rows: "14" %>
        </div>

        <div class="mb-5 flex flex-col">
          <%= f.label :tag_names, class: "text-yellow-950 font-bold" %>
          <%= f.text_field :tag_names, value: f.object.tag_names, class: "w-65 sm:w-100 py-2 px-2 bg-stone-50 border border-yellow-950 rounded-md", placeholder: " 複数登録する場合はカンマ( , )で区切ってください" %>
        </div>

        <div class="mb-5 flex flex-col">
          <div class= "flex font-bold">
            <%= f.label :spot, class: "text-yellow-950" %>
            <span class="text-red-600">*</span>
          </div>
          <%= f.text_field :spot, id: "spot", class: "w-65 sm:w-100 py-2 px-2 bg-stone-50 border border-yellow-950 rounded-md", placeholder: " 店名や市町村名を入力すると候補が出てきます" %>
        </div>

        <div class="mb-5 flex flex-col">
          <div class= "flex font-bold">
            <%= f.label :address, class: "text-yellow-950" %>
            <span class="text-red-600">*</span>
          </div>
          <%= f.text_field :address, id: "address", class: "w-65 sm:w-100 py-2 px-2 bg-stone-50 border border-yellow-950 rounded-md", placeholder: " 候補を選択することで住所が自動で入力されます" %>
        </div>

        <%= f.hidden_field :latitude, id: "latitude" %>
        <%= f.hidden_field :longitude, id: "longitude" %>
      </div>
    </div>
    <div class="actions flex justify-center">
      <%= f.submit "投稿", class: "mt-4 w-40 rounded-md bg-yellow-900 p-3 text-white focus:outline-none cursor-pointer" %>
    </div>
  <% end %>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&libraries=places&callback=initAutocomplete" async defer></script>
