<div class="w-65 h-72 p-4 bg-white shadow-sm shadow-2xs rounded-xl">
  <div class="group relative block shrink-0 self-start overflow-hidden">
    <div class="m-2 flex flex-wrap justify-center mx-auto">
      <%= link_to post_path(post), class: "group" do %>
        <% if post.image.attached? %>
          <%= image_tag url_for(post.image.variant(resize_to_fill: [200, 200])), class: "rounded-xl transition duration-200 group-hover:scale-105" %>
        <% else %>
          <%= image_tag "No_Image.png", class:"rounded-xl transition duration-300 group-hover:scale-105", width:200 %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="text-base text-center font-bold text-yellow-900 truncate max-w-[95%]">
    <%= link_to post.title, post_path(post), class: "hover:text-yellow-600" %>
  </div>
  <div class="flex items-end justify-between mt-auto">
    <div class="flex justify-self-start">
      <%= render "user_profile_button", { user: post.user } %>
    </div>
    <% if current_user.notown?(post) %>
      <%= render 'like_buttons', { post: post } %>
    <% else %>
    <div class="flex gap-1">
      <%= render "edit_and_destroy_buttons", { post: post } %>
      </div>
    <% end %>
  </div>
</div>
