<%= render "shared/flash_messages" %>
<div class="container mx-auto px-6 py-15 my-15 bg-white rounded-xl min-h-screen max-w-screen-lg">
  <div class="grid grid-cols-2 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 justify-items-center">
    <div>
      <% if @post.image.attached? %>
        <%= image_tag(@post.image.variant(resize_to_fill: [350, 350]), class:"rounded-xl mb-10") %>
      <% else %>
        <%= image_tag 'No_Image.png', class:"rounded-xl transition duration-300 group-hover:scale-105" %>
      <% end %>
    </div>
    <div class="pr-15 col-span-1 justify-self-start">
      <div class="text-sm text-gray-400">
        <%= l @post.created_at %>
      </div>
      <div class="flex justify-between mt-auto">
        <h2 class="text-2xl font-bold text-gray-800">
          <%= @post.title %>
        </h2>
        <% if current_user.notown?(@post) %>
          <div><%= render 'like_buttons', { post: @post } %></div>
        <% end %>
      </div>
      <div class= "mt-10 text-yellow-950">
        <%= @post.body %>
      </div>
      <div class="mt-6 flex-col">
        <% @post.tags.each do |tag| %>
          <div class="text-yellow-900">
            #<%= link_to tag.name, posts_path(tag_name: tag.name) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if @post.address.present? %>
  <div>
    <div id="map" style="width: 830px; height: 400px;" class="mt-6 mb-6 mx-auto rounded-xl"></div>
  </div>
  <% end %>

  <% if @post.user == current_user %>
    <div class="flex justify-center items-center">
      <div class= "m-10 text-yellow-50 bg-yellow-900 rounded-lg px-5 py-2.5 hover:bg-yellow-700">
        <%= link_to "編集する", edit_post_path(@post), class: "focus:outline-none cursor-pointer" %>
      </div>
      <div class= "m-10 text-yellow-50 bg-yellow-900 rounded-lg px-5 py-2.5 hover:bg-yellow-700">
        <%= link_to "削除する", post_path(@post), class: "focus:outline-none cursor-pointer", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
      </div>
    </div>
  <% end %>
  <div class="flex items-center justify-center">
    <div class="border-b border-yellow-950 w-370"></div>
  </div>
</div>

<script>
  function initMap(){
    let mapPosition = {lat: <%= @post.latitude || 0 %> , lng: <%= @post.longitude || 0 %> };
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: mapPosition
    });
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    let contentString = '【住所】<%= @post.address %>';
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    let marker = new google.maps.Marker({
      position: mapPosition,
      map: map,
      title: contentString
    });

    marker.addListener('click', function(){
      infowindow.open(map, marker);
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap" async defer></script>
