<!DOCTYPE html>
<html>
  <head>
    <title>Sweets Log</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body>
    <div class= "bg-yellow-50 min-h-[100vh]">
      <%= render 'shared/header' %>
      <%= yield %>
    </div>
   </body>
 </html>